dwm-1
lyrics
*.log
mpdstate
mpd.pid
mpd.db
playlists
urls
plugged
scripts
script-opts
blocklists
resume
torrents
dht.dat
stats.json
discord-455712169795780630.desktop
history

cmark
ex
mid3cp
mid3iconv
mid3v2
moggsplit
mutagen-inspect
mutagen-pony
pygmentize
pytube
tqdm
unidecode
spotdl
yt-dlp
