alias ls='ls --group-directories-first --color=auto'
alias grub-update='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias p='sudo pacman'
alias grep='grep --color'
alias horario='cat ~/Documents/UTN/horarios'
alias nvimrc='nvim ~/.config/nvim/init.vim'
alias pdfconvert='libreoffice --convert-to pdf'
alias xmr='curl -s rate.sx/xmr'
alias lf='lfcd'
alias sctl='sudo systemctl'
alias netbeans='netbeans --userdir "${XDG_CONFIG_HOME}"/netbeans'
alias alc='nvim ~/.config/alacritty/alacritty.yml'
alias makedwm='sudo make -C dwm/ install && sudo make -C dwmblocks/ install'
alias nb='newsboat'
alias nbu='nvim ~/.config/newsboat/urls'
#alias snb='sudo newsboat'
alias gtop='sudo intel_gpu_top'
alias vim='nvim'
alias spotdl='spotdl --dt 2 --st 2'
