alias grub-update='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias ls='ls --group-directories-first --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias diff='diff --color=auto'
alias grep='grep --color'
alias cat='bat -pp'
alias vim='nvim'
alias p='sudo pacman'
alias pa='paru'
alias sctl='sudo systemctl'
alias btctl='bluetoothctl'
alias lf='lfcd'
alias rsync='rsync --progress'

alias nvimrc='nvim ~/.config/nvim/init.vim'
#alias yta='youtube-dl -f bestaudio --extract-audio --audio-format mp3 -o "%(title)s.%(ext)s"'
alias yta='yt-dlp -f "ba" --extract-audio --audio-format mp3 -o "%(title)s.%(ext)s"'
alias ytc='youtube-viewer --comments "$(xclip -sel c -o)"'
alias yt='youtube-viewer'
alias horario='cat ~/Documents/UTN/horarios'
alias pdfconvert='libreoffice --convert-to pdf'
alias alc='nvim ~/.config/alacritty/alacritty.yml'
alias makedwm='sudo make -C dwm/ install && sudo make -C dwmblocks/ install'
alias nb='newsboat'
alias nbu='nvim ~/.config/newsboat/urls'
#alias snb='sudo newsboat'
alias gtop='sudo intel_gpu_top'
alias enes='translate en-es'
alias esen='translate es-en'
